<div class="social">
  <ul class="social-links">
    {{ if .Site.Params.Social.Github }}
      <li><a href="https://github.com/{{ .Site.Params.Social.Github }}"><i class="fa fa-github" style="color:#ffffff"></i></a></li>
    {{ end }}

    {{ if .Site.Params.Social.Email }}
      <li><a href="mailto:{{ .Site.Params.Social.Email }}"><i class="fa fa-envelope" style="color:#dd4b39"></i></a></li>
    {{ end }}

    {{ if .Site.Params.Social.LinkedIn }}
      <li><a href="https://linkedin.com/in/{{ .Site.Params.Social.LinkedIn }}"><i class="fa fa-linkedin-square" style="color:#007bb6"></i></a></li>
    {{ end }}
    
     {{ if .Site.Params.Social.Instagram }}
<li><a href="https://www.instagram.com/{{ .Site.Params.Social.Instagram }}"><i class="fa fa-instagram" style="color:#fbad50"></i></a></li>
{{ end }}
    

  </ul>
</div>
